/* regole generali */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul{
  list-style-type: none;
}

.flex-container{
  display: flex;
}


main{
  /* regole di debug */
  background-color: pink;
  /* fine debug */
  height: calc(100vh - 100px);

}

/* regole di debug */
nav,
main > section {
  border: 1px solid black;
}
/* fine debug */

/* regole della navigazione */
nav{
  flex-basis: 200px;
}

/* corpo della pagina */
main > section{
  flex-grow: 1;
  flex-wrap: wrap;
  overflow: auto;
}

.banner{
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 100;
  top: 0;
}

.album{
  width: 100%;
}

.menu{
  /* regole di debug */
  border: 1px solid white;
  /* fine debug */
  width: 100%;
  min-height: 200px;
}

.album{
  /* regole di debug */
  border: 1px solid white;
  /* fine debug */
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}

.box{
  /* regole di debug */
  background-color: red;
  min-height: 200px;
  width: 200px;
  margin-bottom: 10px;
  /* fine debug */

footer{
  /* regole di debug */
  background-color: lightblue;
  /* fine debug */
  height: 100px;
  position: fixed;
  z-index: 100;
  bottom: 0;
  width: 100%;
}
