/* regole generali */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

a{
  text-decoration: none;
  color: white;
}

ul{
  list-style-type: none;
}

.flex-container{
  display: flex;
}

/* regole corpo della pagina */
main{
  /* regole di debug
  background-color: pink;
  /* fine debug */
  height: calc(100vh - 100px);

}

/* inizio regoledell'aside */
main > aside{
  flex-basis: 200px;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: space-between;
  background: #000000;
  /* padding */
  padding: 10px;
}

aside nav{
  /* regole di debug */
  border: 1px solid white;
  /* fine debug   */
}

aside .logo{
  /* regole di debug */
  border: 1px solid white;
  /* fine debug   */
  height: 100px;
  justify-content: center;
  align-items: center;
}

aside .logo img{
  width: 150px;
}

aside .center{
  overflow: auto;
  min-height: 50px;
}

aside .playlist{
  /* regole di debug */
  border: 1px solid white;
  /* fine debug   */
  /* height: 100px; */
}

aside .profile{
  /* regole di debug */
  border: 1px solid white;
  /* fine debug   */
}

/* section del main */
main > section{
  flex-grow: 1;
  flex-wrap: wrap;
  overflow: auto;
}

/* regole del banner */
.banner{
  width: calc(100vw - 200px);
  height: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 100;
  top: 0;
  justify-content: flex-end;
  align-items: center;
  /* padding */
  padding: 10px;
}

.banner a{
  border: 1px solid;
  border-radius: 30px;
  padding: 10px 20px;
}

.album{
  background-color: #141922;
  /* padding */
  padding: 10px;
}

.menu{
  /* regole di debug */
  border: 1px solid white;
  /* fine debug */
  min-height: 50px;
  margin-top: 100px;
  align-items: center;
  justify-content: center;
  /* margin */
  margin-bottom: 20px;
}

.menu ul{

}

.menu li{
  display: inline-block;
  text-align: center;

}

.album{
  /* regole di debug */
  border: 1px solid white;
  /* fine debug */
  width: 100%;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
}

.box{
  /* regole di debug */
  background-color: red;
  /* fine debug */
  min-height: 200px;
  width: 200px;
  margin-bottom: 10px;
}

footer {
  background-color: #282828;
  height: 100px;
  position: fixed;
  z-index: 100;
  bottom: 0;
  width: 100%;
  /* padding */
  padding: 10px;
}

footer .left{
  /* regole di debug */
  border: 1px solid white;
  min-height: 50px;
  /* fine debug */
  width: 150px;
}

footer .center{
  /* regole di debug */
  border: 1px solid white;
  min-height: 50px;
  /* fine debug */
  flex-grow: 1;
}

footer .right{
  /* regole di debug */
  border: 1px solid white;
  min-height: 50px;
  /* fine debug */
  width: 150px;
}

/* per xs */
@media all and (max-width: 480px){

}

/* sm */
@media all and (min-width: 480px) and (max-width: 768px){

}

/* md */
@media all and (min-width: 768px) and (max-width: 1024px){

}

/* lg */
@media all and (min-width: 1024px){

}
