/* regole generali */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
}

a{
  text-decoration: none;
  color: white;
}

ul{
  list-style-type: none;
}

.flex-container{
  display: flex;
}

/* regole corpo della pagina */
main{
  /* regole di debug */
  background-color: pink;
  /* fine debug */
  height: calc(100vh - 100px);

}

/* regole di debug */
nav,
main > section {
  border: 1px solid black;
}
/* fine debug */

/* inizio regoledell'aside */
aside{
  flex-basis: 200px;
  flex-shrink: 0;
  flex-direction: column;
}

.logo{
  /* regole di debug   */
  border: 1px solid black;
  /* fine debug   */
  height: 100px;
  justify-content: center;
  align-items: center;
}

aside .logo img{
  width: 150px;
}

aside .playlist{
  overflow: auto;
}

aside .profile{
  /* align-content: flex-end; */
  /* regole di debug */
  border: 1px solid black;
  /* fine debug   */
}

/* section del main */
main > section{
  flex-grow: 1;
  flex-wrap: wrap;
  overflow: auto;
}

/* regole del banner */
.banner{
  width: 100%;
  height: 100px;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  z-index: 100;
  top: 0;
  /* justify-content: center; */
  align-items: center;
}

.banner .button a{
  border: 1px solid;
  border-radius: 30px;
  padding: 10px 20px;
}

.album{
  width: 100%;
}

.menu{
  /* regole di debug */
  border: 1px solid white;
  /* fine debug */
  min-height: 150px;
}

.menu ul{
  text-align: center;
  margin-top: 100px;
}

.menu li{
  display: inline-block;
  text-align: center;

}

.album{
  /* regole di debug */
  border: 1px solid white;
  /* fine debug */
  width: 100%;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
}

.box{
  /* regole di debug */
  background-color: red;
  min-height: 200px;
  width: 200px;
  margin-bottom: 10px;
  /* fine debug */
}

footer {
  /* regole di debug */
  background-color: lightblue;
  /* fine debug */
  height: 100px;
  position: fixed;
  z-index: 100;
  bottom: 0;
  width: 100%;
}

/* per xs */
@media all and (max-width: 480px){

}

/* sm */
@media all and (min-width: 480px) and (max-width: 768px){

}

/* md */
@media all and (min-width: 768px) and (max-width: 1024px){

}

/* lg */
@media all and (min-width: 1024px){

}
